* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 110px 1fr;
  grid-template-columns: 110px 1fr;
}

header {
  background-color: rgb(57, 107, 144);
  grid-column: 1 / span 2;
  margin: 7px;
  border-radius: 10px;
  padding: 15px;
}

.left-sidebar {
  background-color: rgb(78, 150, 202);
  grid-row: 2 / span 1;
  margin: 7px;
  border-radius: 10px;
  padding: 15px;
}

.post-section {
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px;
}

.new-post-section {
  background-color: rgb(78, 150, 202, 0.3);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
}

.user-icon {
  text-align: center;
  margin-right: 10px;
}

.user-img {
  background-color: rgb(57, 107, 144);
  color: white;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-content: center;
  cursor: pointer;
}

.user-img:hover {
  background-color: rgb(57, 107, 144, 0.5);
}

.new-post-form {
  display: grid;
  grid-template-columns: 1fr auto;
}

#title,
#content {
  width: 100%;
  padding: 15px;
  margin: 5px;
  font-size: 1.1rem;
  border-radius: 15px;
  border: none;
  outline: none;
}

#content {
  grid-row: 2 / span 1;
}

.new-post-form button {
  grid-row: 2;
  border: none;
  border-radius: 15px;
  margin: 5px 5px 5px 15px;
  width: 110px;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(57, 107, 144);
  color: white;
}

.new-post-form button:hover {
  background-color: rgb(57, 107, 144, 0.5);
}

.posts-list {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  list-style: none;
}

.post-li {
  background-color: rgb(78, 150, 202, 0.3);
  padding: 20px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 60px 1fr;
  align-items: center;
}

.user-info {
  display: block;
  grid-row: 1;
  grid-column: 2;
  margin-left: 10px;
}

.post-content {
  grid-column: 2 / span 1;
  margin: 10px;
}